---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Posts | 개인 홈페이지"
	description="글 중심 콘텐츠를 모아서 보여주는 페이지입니다."
>
	<section class="page-intro">
		<h1>Posts</h1>
		<p>글 중심 콘텐츠를 모아서 보여주는 페이지입니다.</p>
	</section>
</Layout>
